* {
  margin: 0;
  padding: 0;
}

header {
  background: snow;
}

.card{
  cursor: pointer;
  .card-img-wrap{
    overflow: hidden;
    position: relative;
    &::after{
      content: ' ';
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      opacity: 0;
      transition: opacity .25s;
    }
    img{
      transition: transform .25s;
      width: 100%;
    }
    &:hover{
      img{
        transform: scale(1.2);
        
      }
      &::after{
        opacity: 1;
      }
    }
  }
}

.card-img-wrap{
  cursor: pointer;
  overflow: hidden;
  position: relative;
  &::after{
    content: ' ';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 0;
    transition: opacity .25s;
  }
  img{
    transition: transform .25s;
    width: 100%;
  }
  &:hover{
    img{
      transform: scale(1.2);
      
    }
    &::after{
      opacity: 1;
    }
  }
}

.stop {
  background-color: rgb(171, 171, 22);
  padding: 2rem;
}

@media screen and (max-width: 320px) {
  .stop {
    padding: 1rem;
  }
}
