@import "../_variables.scss";

// Styles for home page
.hero-carrier {
  background-color: $header;
  color: $secondary;

  h3 {
    font-size: 4rem;
    font-weight: normal;
    text-transform: capitalize;
  }
  p {
    text-align: justify;
  }
  .btn-carrier {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
  }
  .counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 3rem;
    }
  }
  .right-hero-image {
    height: 100vh;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.middle-holder {
  margin-top: 20rem;

  .middle-right-hero-image {
    height: 100vh;
    border-radius: 30px;
    background-size: cover;
    overflow: hidden;
    border-radius: 40px;
    img {
      height: 100%;
      width: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .mid-intro {
    h5,
    h3 {
      font-size: 2rem;
      text-transform: capitalize;
    }

    p {
      text-align: justify;
    }
  }
  .mid-options {
    .option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .option-icon {
        height: 55px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: green;
        color: $secondary;
        border-radius: 7px;
      }
      .option-text {
        h5 {
          font-size: 1.5rem;
          font-weight: 600;
        }
        p {
          text-align: justify;
        }
      }
    }
  }
}
.service-container {
  // height: 85vh;
  border-radius: 30px 30px 0 0;
}
.better {
  background-image: linear-gradient(rgba(0, 0, 0, 0.576), rgba(0, 0, 0, 0.356)),
    url("https://images.squarespace-cdn.com/content/v1/5fcb8b6187f5a174fa2e1093/4355cf93-56fe-412d-806b-fafb24c24a8a/005_Designed+By+Thrive+-+Get+more+clients+for+your+private+practice+-+hero+image.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  .circle {
    box-sizing: content-box;
    height: 400px;
    width: 400px;
    background-color: $secondary;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 2rem;
    }
    h4 {
      font-size: 2.5rem;
    }
    p {
      font-size: 14px;
    }
  }
}
.offer-carrier {
  margin-top: 14rem;
  .offers {
    .left-prof {
      margin-top: 6rem;
      .prof-serv-head {
        font-size: 3rem;
      }
      h5 {
        font-size: 1.5rem;
      }
      p {
        font-size: 1rem;
        text-align: justify;
      }
      ul {
        li {
          list-style: disc;
          font-size: 1.7rem;
        }
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
      .image-item-1 {
        grid-row: 1/3;
      }
      .image-item {
        overflow: hidden;
        border-radius: 15px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
      }
      .text-item {
        background-color: #00695c;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        .experience-text {
          text-align: center;
          color: #ffffff;
          .years {
            font-size: 3rem;
            font-weight: bold;
            color: #ffa000;
          }

          .description {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

.offer-container {
  margin-top: 10rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.682)),
    url("https://images.squarespace-cdn.com/content/v1/5fcb8b6187f5a174fa2e1093/4355cf93-56fe-412d-806b-fafb24c24a8a/005_Designed+By+Thrive+-+Get+more+clients+for+your+private+practice+-+hero+image.jpg");
  background-position: top center;
  padding: 8rem 0;
  border-radius: 50px;
  .contaner-inner {
    h3 {
      font-size: 3rem;
    }
    @media screen and (max-width: 480px) {
      text-align: center;
      h3 {
        font-size: 1.5rem;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

// Contact Page

.about-section-hero,
.contact-section-hero {
  height: 75vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.689), rgba(0, 0, 0, 0.418)),
    url("../Images/counsel.jpeg");
  padding: 3rem;
  border-radius: 0 0 30px 30px;
  .contact-hero-inner {
    text-align: center;
    display: inline-block;
    position: relative;
    top: 30%;
    left: 33%;
    isolation: isolate;
    h4 {
      font-size: 4rem;
      font-weight: medium;
    }
    p {
      font-size: 1.5rem;
      // font-family: ;
    }
  }
}

.message-section {
  margin-top: 10rem;
  .form-section {
    margin-top: 4rem;
    input {
      background-color: $Pink;
      border: none;
      border-radius: 10px !important;
      &:focus {
        background-color: $secondary;
        border: 1px solid orange;
      }
    }

    .text-area {
      background-color: $Pink;
      border: none;
      border-radius: 10px !important;
      &:focus {
        background-color: $secondary;
        border: 1px solid orange;
      }
    }
  }
}

.contact-foot {
  margin-top: 10rem;

  h4 {
    font-size: 1rem;
  }
  h6 {
    font-size: 2.3rem;
  }
}

// about
.about-section-hero {
  background-image: linear-gradient(
      rgba(13, 14, 42, 0.782),
      rgba(29, 7, 7, 0.674)
    ),
    url("../Images/therapist.jpeg");
  background-position: 60% 20% !important;
}

.portfolio {
  margin-top: 15rem;
  .introduction {
    text-align: center;
    h4 {
      font-size: 2rem;
    }
  }
  .texts {
    text-align: justify;
  }
  .carrd {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center;

    .social-likes {
      position: absolute;
      background-color: $secondary;
      left: 280px;
      top: 40px;
      height: 9rem;
      width: 3rem;
      border-radius: 40px;

      .likes {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        flex-direction: column;
      }
    }
  }
}

.feedback-scroll {
  margin-top: 10rem;
}

@media screen and (max-width: 320px) {
  .hero-carrier {
    h4 {
      font-size: 14px;
    }
    h3 {
      font-size: 2.4rem;
    }

    .btn-carrier {
      width: 100%;
    }
    .counter {
      h3 {
        font-size: 2.5rem;
      }
    }
  }

  .middle-holder {
    .mid-intro {
      h3 {
        font-size: 1.2rem;
      }
    }

    .mid-options {
      .option {
        flex-direction: column;
        .option-icon {
          height: 80px;
          width: 80px;
        }
        .option-text {
          h5 {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

  .better {
    .circle {
      padding: 20px;
      height: 230px;
      width: 230px;

      h2 {
        font-size: 1rem;
      }
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 13px;
      }
    }
  }

  .offer-carrier {
    .offers {
      .left-prof {
        margin-top: -4rem;
        .prof-serv-head {
          font-size: 2rem;
        }
        ul {
          li {
            font-size: 1rem;
          }
        }
      }
      .grid-container {
        .text-item {
          .experience-text {
            .years {
              font-size: 2rem;
            }
            .description {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .hero-carrier {
    h4 {
      font-size: 16px;
    }
    h3 {
      font-size: 2.7rem;
    }

    .btn-carrier {
      width: 100%;
    }
    .counter {
      // display: flex;
      align-items: center;
      justify-content: center;
      margin: 9px;
      h3 {
        font-size: 2.5rem;
      }
    }
  }

  .middle-holder {

    .mid-intro {
      h5{
        font-size: 2rem;
      }
      h3 {
        font-size: 1.4rem;
      }
      p{
        font-size: 14px;
      }
    }

    .mid-options {
      .option {
        flex-direction: column;
        .option-icon {
          height: 80px;
          width: 80px;
        }
        .option-text {
          h5 {
            font-size: 2rem;
          }
        }
      }
    }
  }

  .better {
    
    .circle {
      padding: 20px;
      height: 230px;
      width: 230px;

      h2 {
        font-size: 1rem;
      }
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 13px;
      }
    }
  }

  .offer-carrier {
    .offers {
      .left-prof {
        margin-top: -4rem;
        .prof-serv-head {
          font-size: 2rem;
          font-weight: bold;
        }
        ul {
          li {
            font-size: 1rem;
            list-style: america;
            font-size: 19px;
          }
        }
      }
      .grid-container {
        .text-item {
          .experience-text {
            .years {
              font-size: 2rem;
            }
            .description {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
