@import "../_variables.scss";

// Styles for home page
.hero-carrier {
  background-color: $header;
  color: $secondary;

  h3 {
    font-size: 5rem;
    font-weight: normal;
    text-transform: capitalize;
    font-family: $Sofia;
  }
  .btn-carrier {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 23dvw;
  }
  .counter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    h3 {
      font-family: $Sofia;
      font-size: 3rem;
    }
  }
  .right-hero-image {
    background-color: #fff;
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.2)),
      url("../Images/counsel.jpeg");
    height: 100vh;
  }
}

.middle-holder {
  margin-top: 20rem;
  .middle-right-hero-image {
    background-color: #fff;
    background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.2)),
      url("../Images/child counsel.jpeg");
    height: 100vh;
    border-radius: 30px;
    background-size: cover;
  }
  .mid-intro {
    h5 {
      font-size: 2rem;
    }
  }
  .mid-options {
    .option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      .option-icon {
        height: 55px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: green;
        color: $secondary;
        border-radius: 5px;
      }
    }
  }
}
