@import "../_variable";

img {
  height: 100vh;
  width: 100vw;
}

.socials {
  color: $present;
  letter-spacing: 10px;
}

.carrier_in{
 text-align: center;
}
.footer_carrier {
  background: $foot;
  font-family: $font;
  margin-top: 19rem;
  .foot_intro {
    p {
      font-size: 1rem;
    }
  }
  .circle_socials {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .circle_content {
      margin-right: 10px;
      padding: 10px;
      // height: 30px;
      // width:30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $socials;
    }
  }

  .sub_form {
    text-align: center;
    input {
      background: #2c2b2b;
      color: $pure;
      &::-webkit-input-placeholder {
        color: $pure;
      }
      &:-moz-placeholder {
        color: $pure;
      }
    }
    .sub_btn {
      .btn_sub {
        padding: 1rem;
        background-color: $present;
        width: 100%;
      }
    }
  }
  .outro {
    font-size: 0.8rem;
  }
}

Card {
  font-family: $font;
}

@media screen and (max-width: 480px) {
  .captions{
    .trust{
      p{
        color: $pure;
      }
    }
  }
  .btn {
    padding: 0.5rem 1rem;
  }
}
