@import "../_variable";

img {
  height: 100vh;
  width: 100vw;
}

.socials {
  color: $present;
  letter-spacing: 10px;
}

.carrier_in {
  text-align: center;
}
.footer_carrier {
  background: $foot;
  font-family: $font;
  margin-top: 19rem;
  .foot_intro {
    p {
      font-size: 1rem;
    }
  }
  .circle_socials {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .circle_content {
      margin-right: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $socials;
    }
  }

  .image_carrier {
    width: 100%;
    height: 80%;

    .image_inner {
      width: 100%;
      height: 100%;

      .images,
      .images_2 {
        display: flex;
        overflow: hidden;
        // align-items: center;
        justify-content: center;
        height: 50%;
        width: 100%;
        img {
          height: 100%;
          width: 6rem;
          // object-fit: cover;
        }
      }
    }
  }
  .sub_form {
    text-align: center;
    input {
      background: #2c2b2b;
      color: $pure;
      &::-webkit-input-placeholder {
        color: $pure;
      }
      &:-moz-placeholder {
        color: $pure;
      }
    }
    .sub_btn {
      .btn_sub {
        padding: 1rem;
        background-color: $present;
        width: 100%;
      }
    }
  }
  .outro {
    font-size: 0.8rem;
  }
}

.card {
  font-family: $font;
}

.testimonial {
  .customer_desc {
    color: $para;
    text-align: center;
  }
  .test_img {
    height: 6rem;
    width: 6rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .aps_carrier {
    box-sizing: border-box;
    position: relative;
    bottom: 3rem;
    top: -3rem;
    left: 2rem;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border-radius: 50%;
    height: 3rem;
    .circle_inner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: $present;
      color: $pure;
      h3 {
        text-align: center;
        font-family: $apsFont;
        font-size: 4rem;
        font-weight: 400;
        z-index: 10;
        color: $pure;
        position: absolute;
        bottom: 0;
        top: -0.13rem;
        left: 0;
        right: 0;
      }
    }
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
  transition: opacity 1s ease-out;
}

.preloader.fade-out {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 480px) {
  .captions {
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
    }
    .trust {
      font-family: $font;
      font-weight: bold;
      color: $pure;
      p {
        color: $pure;
        font-size: 2rem;
      }
    }
  }

  .btn {
    padding: 0.5rem 1rem;
  }
}

@media screen and (max-width: 320px) {
  .captions {
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
    }
    .trust {
      font-family: $font;
      font-weight: bold;
      color: $pure;
      p {
        color: $pure;
        font-size: 1.5rem;
      }
    }
  }
}
