@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

$present: #c8a97e;
$pure: white;
$para: #898989;
$june: #787878;
$socials: #1f1f1f;
$foot: #141313;
$font: "Poppins", sans-serif;
$fontFamily: "Great Vibes", cursive;

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
}
.btn {
  padding: 0.7rem 0.8rem;
  border-radius: 5px;
  background-color: $present;
  text-align: center;
  color: $pure;
  &:hover {
    background-color: $present;
    color: $pure;
  }
}

.form_carrier {
  background: $pure;
  box-sizing: content-box;
  width: 50%;
  margin: 5rem 0 4rem 0;
  .form-intro {
    width: 100%;
    text-align: center;
    h4 {
      font-family: $fontFamily;
      font-size: 6rem;
      color: $present;
      position: relative;
      top: -2rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
    }

    .intro_inner {
      position: relative;
      top: -4rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      h5 {
        position: relative;
        top: -2rem;
        font-family: $font;
        font-size: 3rem;
      }
    }
  }
  .main_form {
    padding: 3rem;
    font-family: $font;
    margin-top: -6rem;
    label {
      font-weight: bold;
    }
    input {
      &:focus {
        border: 1px solid black;
      }
    }
    .form_btn {
      @include flex;
      margin-top: 2rem;
      .btn-sub {
        padding: 1rem 4rem;
      }
    }
  }
}

.captions {
  :nth-child(1) {
    color: $present;
    font-family: $fontFamily;
  }

  .trust {
    font-family: $font;
    font-weight: bold;
  }
}

@media screen and (min-width: 1200px) {
  .captions {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
      font-size: 5rem;
    }
    .trust {
      p {
        font-family: $font;
        font-size: 7rem;
        font-weight: bold;
      }
    }
  }

  .grill {
    position: relative;
    top: -15rem;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $pure;
    }
    :nth-child(2) {
      color: $para;
    }
  }
}

@media screen and (max-width: 480px) {
  .form_bg {
    // background: red;
    height: 200vh;
  }
  .form_carrier {
    background: #000;
    width: 100%;
    margin: 0;
    margin-top: 5rem;
    // height: 20px;
    .form-intro {
      h4 {
        font-size: 2rem;
        top: 2rem;
      }
      .intro_inner {
        h5 {
          font-size: 1rem;
          top: 5rem;
        }
      }
    }
    .main_form {
      margin: 3rem 0 0 0;
    }
  }
}
