@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

$present: #c8a97e;
$pure: white;
$para: #898989;
$june: #787878;
$socials: #1f1f1f;
$foot: #141313;
$font: "Poppins", sans-serif;
$fontFamily: "Great Vibes", cursive;
$apsFont: "Montagu Slab";

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.blog_page {
  margin-top: -10rem;
}

.bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.btn {
  padding: 0.7rem 0.8rem;
  border-radius: 5px;
  background-color: $present;
  text-align: center;
  color: $pure;
  &:hover {
    background-color: $present;
    color: $pure;
  }
}

.form_carrier {
  background: $pure;
  box-sizing: content-box;
  width: 80%;
  margin: 5rem 0 4rem 0;
  .form-intro {
    width: 100%;
    text-align: center;
    h4 {
      font-family: $fontFamily;
      font-size: 6rem;
      color: $present;
      position: relative;
      top: -2rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
    }

    .intro_inner {
      position: relative;
      top: -4rem;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0;
      h5 {
        position: relative;
        top: -2rem;
        font-family: $font;
        font-size: 3rem;
        font-weight: bold;
      }
    }
  }
  .main_form {
    padding: 3rem;
    font-family: $font;
    margin-top: -6rem;
    label {
      font-weight: bold;
    }
    input {
      &:focus {
        border: 1px solid black;
      }
    }
    .form_btn {
      @include flex;
      margin-top: 2rem;
      .btn-sub {
        padding: 1rem 4rem;
      }
    }
  }
}

.slide-carry {
  object-fit: cover;
  .slide-images {
    object-fit: cover;
    height: 100vh;
    width: 100%;
    img {
      object-fit: cover;
    }
  }
}

.back-drop {
  background-color: rgba(0, 0, 0, 0.765);
  backdrop-filter: drop-shadow(3px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .captions {
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
    }
    .trust {
      p {
        font-family: $font;
        font-weight: bold;
        color: $pure;
      }
    }
  }
}

.show_case {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  .double_images {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    .item_1,
    .item_2 {
      img {
        width: 300px;
        height: 500px;
        min-height: 50dvh;
        object-fit: cover;
      }
    }
    .item_1 {
      grid-column: auto;
    }
    .item_2 {
      grid-column: auto;
      margin-top: 30px;
    }
  }
  .shop_time {
    // margin-left: 1rem;
    grid-column: auto;
    margin-top: 40px;
    p {
      margin-top: -90px;
      text-align: justify;
    }
    .thime {
      color: $present;
    }
    .brand_header {
      text-transform: capitalize;
      font-size: 6rem;
      font-family: $fontFamily;
      color: $present;
    }
    .brand_name {
      font-family: $font;
      font-size: 5rem;
      position: relative;
      top: -5rem;
      left: 0;
      right: 0;
      bottom: 5rem;
    }
  }
}

.menuu {
  font-family: $font;
  img {
    height: 80%;
  }
}

.order_btn {
  border: none;
  &:hover {
    border: 1px solid $present;
    background: $pure;
    color: $present;
  }
}

.navig {
  padding: 10px;
  .menu_selector {
    @include flex;
    text-align: center;
    background-color: $pure;
    color: #000000;
    padding: 1rem 2rem;
    text-decoration: none;
    &.active {
      background-color: $present;
      color: white;
    }
    &:hover {
      background: $present;
      color: white;
    }
  }
}

@media screen and (min-width: 768px) {
  .captions {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
      font-size: 5rem;
    }
    .trust {
      position: relative;
      top: -0.5rem;
      p {
        font-family: $font;
        font-size: 3rem;
        font-weight: bold;
        color: $pure;
      }
    }
  }
  .form_bg {
    height: 90vh;
    padding: 0;
  }
  .form_carrier {
    width: 70%;
    position: relative;
    top: 10px;
    right: 0;
    margin-left: 0;
    left: 0;
    .form-intro {
      h4 {
        font-size: 4rem;
        text-wrap: nowrap;
        top: 2rem;
      }
      .intro_inner {
        top: 0;
        h5 {
          font-size: 2rem;
          text-wrap: nowrap;
          top: -0.4rem;
        }
      }
    }
    .main_form {
      margin: 3rem 0 0 0;
      label {
        margin-bottom: 10px;
      }
      input {
        padding: 0.6rem;
        margin-bottom: 10px;
      }
      .form_btn {
        .btn-sub {
          padding: 0.7rem 2rem;
        }
      }
    }
  }
  .show_case {
    display: grid;
    grid-template-columns: auto auto;
    .double_images {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 9px;
      margin-left: -10px;
      .item_1,
      .item_2 {
        img {
          width: 100px;
          height: 750px !important;
          object-position: 50% 100%;
        }
      }

      .item_1 {
        grid-column: auto;
      }
      .item_2 {
        grid-column: auto;
      }
    }
    .shop_time {
      margin: 30px 0 0 0;
      grid-column: auto;
      p {
        margin-top: -70px;
      }
      .thime {
        font-size: 28px !important;
      }
      .brand_header {
        font-size: 4rem;
      }
      .brand_name {
        font-size: 2rem;
        top: -4rem;
      }
    }
  }

  #first_most_section {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .captions {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
      font-size: 5rem;
    }
    .trust {
      position: relative;
      top: -40px;
      p {
        font-family: $font;
        font-size: 4rem;
        font-weight: bold;
        color: $pure;
      }
    }
  }
  .form_bg {
    height: 145vh;
  }
  .grill {
    position: relative;
    top: -15rem;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $pure;
    }
    :nth-child(2) {
      color: $para;
    }
  }
  .show_case {
    width: 100%;
    margin-top: -12rem;
    .double_images {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
      .item_1,
      .item_2 {
        img {
          width: 300px;
          height: 500px !important;
          min-height: 50dvh;
          object-fit: cover;
        }
      }
      .item_1 {
        grid-column: auto;
      }
      .item_2 {
        grid-column: auto;
        margin-top: 30px;
      }
    }
    .shop_time {
      // margin-left: 1rem;
      grid-column: auto;
      margin-top: 40px;
      p {
        margin-top: -90px;
        text-align: justify;
      }
      .thime {
        color: $present;
      }
      .brand_header {
        text-transform: capitalize;
        font-size: 6rem;
        font-family: $fontFamily;
        color: $present;
      }
      .brand_name {
        font-family: $font;
        font-size: 5rem;
        position: relative;
        top: -5rem;
        left: 0;
        right: 0;
        bottom: 5rem;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .form_bg {
    height: 145vh;
    padding: 0;
  }
  .show_case {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column !important;
    .double_images {
      margin-left: -10px;
      .item_1,
      .items_2 {
        img {
          width: 93vw !important;
          height: 300px;
          object-position: 50% 100%;
        }
      }
      .item_1 {
        grid-column: auto;
      }
      .item_2 {
        grid-column: auto;
        display: none;
      }
    }
    .shop_time {
      margin: 40px 0 0 0;
      grid-column: auto;
      p {
        margin-top: -50px;
      }
      .brand_header {
        font-size: 4rem;
      }
      .brand_name {
        text-wrap: nowrap !important;
        font-size: 2rem;
        top: -3.5rem;
      }
    }
  }

  .form_carrier {
    width: 100%;
    position: relative;
    top: 30px;
    right: 0;
    left: 0;
    .form-intro {
      h4 {
        font-size: 3.5rem;
        text-wrap: nowrap;
        top: 2rem;
      }
      .intro_inner {
        top: 0;
        h5 {
          font-size: 1.5rem;
          text-wrap: nowrap;
          top: -0.4rem;
        }
      }
    }
    .main_form {
      margin: 3rem 0 0 0;
      label {
        margin-bottom: 10px;
      }
      input {
        padding: 0.6rem;
        margin-bottom: 10px;
      }
      .form_btn {
        .btn-sub {
          padding: 0.7rem 2rem;
        }
      }
    }
  }
  .captions {
    position: absolute;
    top: 45% !important;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
      font-size: 5rem;
    }
    .trust {
      position: relative;
      top: -8%;
      p {
        font-family: $font;
        font-size: 24px !important;
        text-wrap: nowrap;
        font-weight: bold;
        color: $pure;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .captions {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
      font-size: 3rem;
    }
    .trust {
      position: relative;
      top: -8%;
      p {
        font-family: $font;
        text-wrap: wrap;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        color: $pure;
      }
    }
  }

  main {
    #menu {
      .menu_head {
        h4 {
          top: 40px;
          font-size: 3rem;
        }
        h2 {
          font-size: 1.5rem;
        }
      }
    }
  }

  .contact_intro {
    .contact_text {
      text-align: center;
      h3 {
        height: 30px;
        position: absolute;
        top: 65%;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 2.5rem;
        font-weight: 900;
        font-family: $font;
        z-index: -3;
      }
    }
  }
  .show_case {
    .double_images {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 9px;
      margin-left: -10px;
      .item_1,
      .item_2 {
        img {
          width: 290px;
          height: 300px;
        }
      }
    }
    .shop_time {
      margin: 40px 0 0 0;
      grid-column: auto;
      width: 84dvw;
      p {
        margin-top: -50px;
        width: 270px !important;
      }
      .brand_header {
        font-size: 4rem;
      }
      .brand_name {
        font-size: 1.4rem;
        top: -3.5rem;
      }
    }
  }
  .form_bg {
    height: 195vh;
    padding: 0;
  }
}

@media screen and (max-width: 575px) {
  .captions {
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $present;
      font-family: $fontFamily;
      font-size: 3rem;
    }
    .trust {
      position: relative;
      top: -8%;
      p {
        font-family: $font;
        font-size: 32px;
        text-wrap: nowrap;
        font-weight: bold;
        color: $pure;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .show_case {
    .double_images {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 9px;
      margin-left: -10px;
      .item_1,
      .item_2 {
        img {
          width: 223px;
          height: 300px;
        }
      }
      .item_1 {
        grid-column: auto;
      }
      .item_2 {
        grid-column: auto;
      }
    }
    .shop_time {
      margin: 40px 0 0 0;
      grid-column: auto;
      p {
        margin-top: -50px;
      }
      .brand_header {
        font-size: 4rem;
      }
      .brand_name {
        font-size: 2rem;
        top: -4rem;
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .show_case {
    width: 100%;
    padding: 9px;
    .double_images {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 20px;
      .item_1,
      .item_2 {
        img {
          width: 300px;
          height: 500px;
          min-height: 50dvh;
          object-fit: cover;
        }
      }
      .item_1 {
        grid-column: auto;
      }
      .item_2 {
        grid-column: auto;
        margin-top: 30px;
      }
    }
    .shop_time {
      margin-left: 1rem;
      grid-column: auto;
      margin-top: 40px;
      p {
        margin-top: -90px;
        text-align: justify;
      }
      .thime {
        color: $present;
      }
      .brand_header {
        text-transform: capitalize;
        font-size: 6rem;
        font-family: $fontFamily;
        color: $present;
      }
      .brand_name {
        font-family: $font;
        font-size: 5rem;
        position: relative;
        top: -5rem;
        left: 0;
        right: 0;
        bottom: 5rem;
      }
    }
  }
  .grill {
    position: relative;
    top: -16rem;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    :nth-child(1) {
      color: $pure;
    }
    :nth-child(2) {
      color: $para;
    }
  }
}
