*,
::before,
::after {
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

@import './_variables';

@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

header{
    height: 4rem;
    width: 100vw;
    padding: 2px;
    color: white;
    text-align: center;
    margin:1rem 0 2rem 0;
    background-color: rgb(13, 6, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Seymour One";
}
.loader-wrapper {
  height: 100vh;
  position: absolute;
  z-index: 999;
  background: linear-gradient(
    80deg,
    #e46204,
    #25bbf9,
    #265e73,
    #a43fe6,
    rgb(148, 148, 5),
    rgb(10, 10, 3.5)
  );
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  text-align: center;
  transition: 1s, visibility 2s;
  animation: gradient-animation 2s ease infinite;
  animation-play-state: running;
  background-size: 240% 240%;
  h1{
    text-transform: uppercase;
    font-family: "Seymour One";
    color:white;
    font-weight: bolder;
  }

  &.fade {
    opacity: 0;
    visibility: hidden;
  }
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

