@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*, ::before, ::after {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Plus Jakarta Sans";
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@keyframes zoom-in-zoom-out {
  0% {
    opacity: 10%;
    transform: scale(1, 1);
  }
  50% {
    opacity: 100%;
    transform: scale(1.5, 1.5);
  }
  100% {
    opacity: 10%;
    transform: scale(1, 1);
  }
}
@keyframes slide-animation {
  0% {
    transform: translate(0px);
  }
  10% {
    transform: translate(0px);
  }
  20% {
    transform: translate(1200px);
  }
  30% {
    transform: translate(1200px);
  }
  40% {
    transform: translate(2400px);
  }
  50% {
    transform: translate(2400px);
  }
  60% {
    transform: translate(1200px);
  }
  70% {
    transform: translate(1200px);
  }
  80% {
    transform: translate(0px);
  }
  90% {
    transform: translate(0px);
  }
  100% {
    transform: translate(0px);
  }
}
body {
  scroll-behavior: smooth;
}

@media screen and (max-width: 320px) {
  .desktop {
    background-color: #1A1E23;
  }
  .desktop ul {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
  }
  .desktop ul li {
    margin: 9px;
    list-style: none;
  }
  .desktop ul li a {
    color: #FFFFFF;
  }
  .desktop ul span {
    font-weight: bold;
  }
  .firstBlock {
    height: 80vh;
    background: #1A1E23;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .firstBlock .thoughts {
    text-align: center;
    height: 70%;
    width: 100vw;
    margin-top: 20px;
  }
  .firstBlock .thoughts .left {
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px;
    color: #F8F8F8;
  }
  .firstBlock .thoughts .right {
    margin: 10px;
    color: #FFFFFF;
  }
  .firstBlock .thoughts .right h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
  }
  .firstBlock .thoughts .right p {
    margin: 10px 5px;
    font-weight: normal;
    font-size: 12px;
  }
  .firstBlock .thoughts .right h3 {
    margin: 20px 0 0 0;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .firstBlock .thoughts .right h3 .lin {
    height: 3px;
    width: 39px;
    background-color: #FFFFFF;
  }
  .secondBlock {
    height: 200vh;
    margin-top: 30vh;
    width: 100%;
    background: #F8F8F8;
  }
  .secondBlock h2 {
    color: #1A1E23;
    font-size: 18px;
    text-transform: uppercase;
  }
  .secondBlock h2 li {
    list-style: square;
  }
  .secondBlock .inn {
    position: relative;
    top: 3%;
    width: 93vw;
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .secondBlock .inn .reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .secondBlock .inn .reasons .box {
    color: #1A1E23;
    height: 16vh;
    width: 90%;
    margin: 2px 0;
    padding: 10px;
  }
  .secondBlock .inn .reasons .box h3 {
    font-size: 16px;
    font-weight: bold;
    color: #1A1E23;
  }
  .secondBlock .inn .reasons .box h3 span {
    font-weight: normal;
    font-size: 14px;
    color: #C5C5C5;
  }
  .secondBlock .inn .reasons .box p {
    font-size: 12px;
    margin-top: 8px;
    font-weight: 400;
  }
  .secondBlock .inne {
    position: relative;
    top: 5%;
    left: 22px;
    height: 20vh;
    width: 80%;
  }
  .secondBlock .inne h2 {
    text-align: center;
    font-weight: bolder;
    animation: zoom-in-zoom-out 5s infinite alternate;
    font-size: 12px;
  }
  .secondBlock .inne h2 li {
    list-style: none;
  }
  .secondBlock .inne .dim {
    display: none;
    visibility: hidden;
  }
  .secondBlock .inner {
    height: 50vh;
    margin: 20vh 0 0 10px;
  }
  .secondBlock .inner .projects {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
  }
  .secondBlock .inner .projects .slider-frame {
    overflow: hidden;
    height: 80%;
    width: 100%;
  }
  .secondBlock .inner .projects .slider-frame .slider-images {
    height: 100%;
    width: 100%;
    animation: slide-animation 2s infinite alternate running;
  }
  .secondBlock .inner .projects .slider-frame .slider-images .img-container {
    height: 100%;
    margin-left: 12px;
    width: 100%;
  }
  footer {
    height: 51vh;
    width: 100%;
    background: #1A1E23;
  }
  footer .contact {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer .contact .leftt {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F8F8F8;
  }
  footer .contact button {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background: #FFB600;
  }
  footer .contact button a {
    color: #1A1E23;
    font-weight: bold;
    font-size: 12px;
  }
  footer .footmain {
    background-color: #1A1E23;
    color: #FFFFFF;
    width: 100%;
    height: 25vh;
  }
  footer .footmain .inside {
    height: 20vh;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
  }
  footer .footmain .inside .name {
    font-size: 14px;
    font-weight: bold;
  }
  footer .footmain .inside .add {
    font-size: 12px;
  }
  footer .footmain .inside .social {
    display: flex;
    font-size: 12px;
  }
  footer .footmain .inside .social ul {
    margin: 9px;
  }
  footer .footmain .inside .social ul li {
    list-style: none;
  }
  footer .footmain .inside .social ul li a {
    color: #FFFFFF;
  }
  footer .copyright {
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 10px 1fr;
    text-transform: capitalize;
    font-size: 11px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #F8F8F8;
    background-color: #888888;
    gap: 2px;
  }
  footer .copyright .lefft {
    grid-column: 1/2;
  }
  footer .copyright .center {
    grid-column: 2/3;
  }
  footer .copyright .lasts {
    grid-column: 3/4;
  }
}
@media screen and (max-width: 480px) {
  .firstBlock {
    height: 120vh;
    width: 100%;
    background: #1A1E23;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .firstBlock .thoughts {
    text-align: center;
    height: 70%;
    width: 100vw;
    margin-top: 20px;
  }
  .firstBlock .thoughts .left {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 12px;
    color: #F8F8F8;
  }
  .firstBlock .thoughts .right {
    margin-top: 44px;
    color: #FFFFFF;
  }
  .firstBlock .thoughts .right h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
  }
  .firstBlock .thoughts .right p {
    font-size: 14px;
    font-weight: normal;
    margin: 12px 8px;
  }
  .firstBlock .thoughts .right h3 {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  .firstBlock .thoughts .right h3 .lin {
    height: 3px;
    width: 39px;
    background-color: #FFFFFF;
  }
  .secondBlock {
    margin-top: 40vh;
    height: 250vh;
    width: 100%;
  }
  .secondBlock h2 {
    color: #1A1E23;
    font-size: 20px;
    text-transform: uppercase;
  }
  .secondBlock h2 li {
    list-style: square;
  }
  .secondBlock .inn {
    position: relative;
    top: 3%;
    height: 95vh;
    width: 94vw;
    margin: 12px 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .secondBlock .inn .reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .secondBlock .inn .reasons .box {
    color: #1A1E23;
    height: 17vh;
    width: 90%;
    margin: 3px 0;
    padding: 10px;
  }
  .secondBlock .inn .reasons .box h3 {
    font-size: 17px;
    font-weight: bold;
  }
  .secondBlock .inn .reasons .box h3 span {
    font-weight: normal;
    font-size: 14px;
    color: #C5C5C5;
  }
  .secondBlock .inn .reasons .box p {
    font-size: 13px;
    margin-top: 7px;
    font-weight: 400;
  }
  .secondBlock .inne {
    margin: 12px 12px;
    position: relative;
    top: 6%;
    height: 62vh;
  }
  .secondBlock .inne h2 {
    position: relative;
    top: 12px;
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
    animation: zoom-in-zoom-out 5s infinite alternate ease-in-out;
  }
  .secondBlock .inne h2 li {
    list-style: none;
  }
  .secondBlock .inne .dim {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60%;
  }
  .secondBlock .inne .dim .img-1, .secondBlock .inne .dim .img-2, .secondBlock .inne .dim .img-3 {
    margin-left: 4px;
    height: 28vh;
    width: 34vw;
    border: none;
    border-radius: 50%;
  }
  .secondBlock .inne .dim .img-1 figcaption, .secondBlock .inne .dim .img-2 figcaption, .secondBlock .inne .dim .img-3 figcaption {
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
  }
  .secondBlock .inne .dim .img-1 figcaption a, .secondBlock .inne .dim .img-2 figcaption a, .secondBlock .inne .dim .img-3 figcaption a {
    color: #888888;
  }
  .secondBlock .inne .dim .img-1 img, .secondBlock .inne .dim .img-2 img, .secondBlock .inne .dim .img-3 img {
    -o-object-fit: fill;
       object-fit: fill;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .secondBlock .inner {
    height: 25%;
    width: 95%;
    margin: 25vh 0 0 10px;
  }
  .secondBlock .inner .projects {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .secondBlock .inner .projects .slider-frame {
    overflow: hidden;
    height: 80%;
    width: 100%;
  }
  .secondBlock .inner .projects .slider-frame .slider-images {
    height: 100%;
    width: 100%;
    animation: slide-animation 2s infinite alternate running;
  }
  .secondBlock .inner .projects .slider-frame .slider-images .img-container {
    height: 100%;
    margin-left: 12px;
    width: 100%;
  }
  footer {
    height: 60vh;
    width: 100%;
    background: #1A1E23;
  }
  footer .contact {
    height: auto;
    width: auto;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #F8F8F8;
  }
  footer .contact .leftt {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F8F8F8;
  }
  footer .contact button {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background: #FFB600;
  }
  footer .contact button a {
    font-size: 13px;
    font-weight: bold;
    color: #1A1E23;
  }
  footer .footmain {
    background-color: red;
    color: #FFFFFF;
    width: 100%;
    height: 28vh;
  }
  footer .footmain .inside {
    height: 28dvh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  footer .footmain .inside .name {
    font-size: 16px;
    font-weight: bold;
  }
  footer .footmain .inside .add {
    font-size: 14px;
  }
  footer .footmain .inside .social ul li {
    list-style: none;
  }
  footer .footmain .inside .social ul li a {
    color: #FFFFFF;
  }
  .copyright {
    height: 9vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    grid-template-rows: 1fr 10px 1fr;
    text-transform: capitalize;
    font-size: 11px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #F8F8F8;
    background-color: #888888;
    gap: 2px;
  }
  .copyright .lefft {
    grid-column: 1/2;
  }
  .copyright .center {
    grid-column: 2/3;
  }
  .copyright .lasts {
    grid-column: 3/4;
  }
}/*# sourceMappingURL=style.css.map */