*,
::before,
::after {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@import './variable';

body {
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
}

@media screen and (max-width:320px) {
    .desktop {
        background-color: $dark;

        ul {
            display: inline-flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            font-size: 12px;

            li {
                margin: 9px;
                list-style: none;

                a {
                    color: $primary;
                }
            }

            span {
                font-weight: bold;

            }
        }
    }

    .firstBlock {
        height: 70vh;
        background: $dark;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        img {
            display: none;
        }

        .thoughts {
            text-align: center;
            height: 70%;
            width: 100vw;
            margin-top: 20px;

            .left {
                font-size: 19px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 15px;
                color: $whitt;
            }

            .right {
                margin: 10px;
                color: $primary;

                h2 {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: normal;
                }

                p {
                    margin: 10px 5px;
                    font-weight: normal;
                    font-size: 12px;
                }

                h3 {
                    margin: 20px 0 0 0;
                    font-size: 14px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .lin {
                        height: 3px;
                        width: 39px;
                    }
                }
            }
        }
    }

    .secondBlock {
        height: 100vh;
        margin-top: 30vh;
        width: 100%;
        background: $whitt;

        h2 {
            color: $dark;
            font-size: 18px;
            text-transform: uppercase;

            li {
                list-style: square;
            }
        }

        .inn {
            position: relative;
            top: 3%;
            width: 93vw;
            margin: 10px 10px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .reasons {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .box {
                    color: $dark;
                    height: 16vh;
                    width: 90%;
                    margin: 2px 0;
                    padding: 10px;

                    h3 {
                        font-size: 14px;
                        font-weight: bold;
                        color: $dark;

                        span {
                            font-weight: normal;
                            font-size: 12px;
                            color: $grey;
                        }
                    }

                    p {
                        font-size: 12px;
                        margin-top: 8px;
                        font-weight: 400;
                    }
                }
            }
        }

        .inne {
            position: relative;
            top: 5%;
            left: 22px;
            height: 20vh;
            width: 80%;

            h2 {
                text-align: center;
                font-weight: bolder;
                animation: zoom-in-zoom-out 5s infinite alternate;
                font-size: 12px;

                li {
                    list-style: none;
                }
            }

            .dim {
                display: none;
                visibility: hidden;
            }
        }

        .inner {
            height: 25%;
            width: 95%;
            margin: 25vh 0 0 10px;

            .project {
                margin-top: 20px;
                overflow: hidden;
                display: flex;
            }
        }


        footer {
            margin-top: 10vh;
            height: 51vh;
            width: 100%;
            background: $dark;

            .contact {
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .leftt {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: $whitt;
                }

                button {
                    padding: 10px 15px;
                    border-radius: 50px;
                    border: none;
                    background: $yel;

                    a {
                        color: $dark;
                        font-weight: bold;
                        font-size: 12px;
                    }
                }
            }

            .footmain {
                background-color: $dark;
                color: $primary;
                width: 100%;
                height: 25vh;

                .inside {
                    height: 20vh;
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-around;

                    .name {
                        font-size: 14px;
                        font-weight: bold;
                    }

                    .add {
                        font-size: 12px;
                    }

                    .social {
                        display: flex;
                        font-size: 12px;

                        ul {
                            margin: 9px;

                            li {
                                list-style: none;

                                a {
                                    color: $primary;
                                }
                            }
                        }
                    }
                }
            }

            .copyright {
                font-size: 16px;
                text-transform: capitalize;
                background-color: $light;
            }

        }
    }
}

@media screen and (max-width:480px) {
    .firstBlock {
        height: 95vh;
        width: 100%;
        background: $dark;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
            display: none;
        }

        .thoughts {
            text-align: center;
            height: 70%;
            width: 100vw;
            margin-top: 20px;

            .left {
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 12px;
                color: $whitt;
            }

            .right {
                margin-top: 44px;
                color: $primary;

                h2 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: normal;
                }

                p {
                    font-size: 14px;
                    font-weight: normal;
                    margin: 12px 8px;
                }

                h3 {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;

                    .lin {
                        height: 3px;
                        width: 39px;
                    }
                }
            }
        }
    }

    .secondBlock {
        margin-top: 40vh;
        height: 210vh;
        width: 100%;
        background-color: $whitt;

        h2 {
            color: $dark;
            font-size: 20px;
            text-transform: uppercase;

            li {
                list-style: square;
            }
        }

        .inn {
            position: relative;
            top: 3%;
            height: 95vh;
            width: 95vw;
            margin: 12px 12px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .reasons {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                height: 75%;
                position: relative;
                top: 20px;

                .square_1 {
                    height: 100%;

                    .box {
                        margin-top: 40px;

                        h3,
                        p {
                            margin-left: 6px;
                        }
                    }
                }

                .square_2 {
                    height: 100%;

                    .box {
                        margin-top: 40px;

                        h3,
                        p {
                            margin-left: 6px;
                        }
                    }
                }

                .box {
                    color: $dark;
                    height: 25vh;
                    width: 93%;
                    margin: 3px 0;
                    padding: 10px;

                    h3 {
                        font-size: 17px;
                        font-weight: bold;

                        span {
                            font-weight: normal;
                            font-size: 14px;
                            color: $grey;
                        }
                    }

                    p {
                        font-size: 13px;
                        margin-top: 7px;
                        font-weight: 400;
                    }
                }
            }
        }

        .inne {
            position: relative;
            top: 6%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25vh;

            h2 {
                position: relative;
                top: 12px;
                font-size: 12px;
                text-align: center;
                font-weight: bolder;
                animation: zoom-in-zoom-out 5s infinite alternate ease-in-out;

                li {
                    list-style: none;
                }
            }
        }

        .inner {
            height: 25%;
            width: 95%;
            margin: 25vh 0 0 10px;

            .project {
                margin-top: 20px;
                overflow: hidden;
                display: flex;
            }
        }
    }

    footer {
        position: relative;
        top: 40px;
        height: 55vh;
        width: 100%;
        background: $dark;

        .contact {
            height: auto;
            width: auto;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            color: $whitt;

            .leftt {
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                color: $whitt;
            }

            button {
                padding: 10px 15px;
                border-radius: 50px;
                border: none;
                background: $yel;

                a {
                    font-size: 13px;
                    font-weight: bold;
                    color: $dark;
                }
            }
        }

        .footmain {
            background-color: $dark;
            color: $primary;
            width: 100%;
            height: 28vh;

            .inside {
                height: 28dvh;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .name {
                    font-size: 16px;
                    font-weight: bold;
                }

                .add {
                    font-size: 14px;
                }

                .social {
                    ul {
                        li {
                            list-style: none;

                            a {
                                color: $primary;
                            }
                        }
                    }
                }
            }


        }

        .copyright {
            font-size: 14px;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            margin: 5px 0 0 0;
            color: $primary;
            font-weight: bold;
            background-color: $light;
        }
    }

}

@media screen and (min-width:681px) {
    .secondBlock {
        .inn {
            .reasons {
                .box {
                    h3 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    footer {
        margin-top: 5rem;
    }
}

@media screen and (min-width:481px) and (max-width:681px) {
    .firstBlock {
        height: 95vh;
        width: 100%;
        background: $dark;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        img {
            display: none;
        }

        .thoughts {
            text-align: center;
            height: 70%;
            width: 100vw;
            margin-top: 20px;

            .left {
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 12px;
                color: $whitt;
            }

            .right {
                margin-top: 44px;
                color: $primary;

                h2 {
                    text-transform: uppercase;
                    font-size: 18px;
                    font-weight: normal;
                }

                p {
                    font-size: 14px;
                    font-weight: normal;
                    margin: 12px 8px;
                }

                h3 {
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;

                    .lin {
                        height: 3px;
                        width: 39px;
                    }
                }
            }
        }
    }

    .secondBlock {
        margin-top: 40vh;
        height: 210vh;
        width: 100%;
        background-color: $whitt;

        h2 {
            color: $dark;
            font-size: 20px;
            text-transform: uppercase;

            li {
                list-style: square;
            }
        }

        .inn {
            position: relative;
            top: 3%;
            height: 95vh;
            width: 95vw;
            margin: 12px 12px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            .reasons {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                height: 75%;
                position: relative;
                top: 20px;

                .square_1 {
                    height: 100%;

                    .box {
                        margin-top: 40px;

                        h3,
                        p {
                            margin-left: 6px;
                        }
                    }
                }

                .square_2 {
                    height: 100%;

                    .box {
                        margin-top: 40px;

                        h3,
                        p {
                            margin-left: 6px;
                        }
                    }
                }

                .box {
                    color: $dark;
                    height: 30vh;
                    width: 93%;
                    margin: 3px 0;
                    padding: 10px;

                    h3 {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;

                        span {
                            font-weight: normal;
                            font-size: 14px;
                            color: $grey;
                        }
                    }

                    p {
                        font-size: 13px;
                        margin-top: 7px;
                        font-weight: 400;
                    }
                }
            }
        }

        .inne {
            position: relative;
            top: 6%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25vh;

            h2 {
                position: relative;
                top: 12px;
                font-size: 12px;
                text-align: center;
                font-weight: bolder;
                animation: zoom-in-zoom-out 5s infinite alternate ease-in-out;

                li {
                    list-style: none;
                }
            }
        }

        .inner {
            height: 25%;
            width: 95%;
            margin: 25vh 0 0 10px;

            .project {
                margin-top: 20px;
                overflow: hidden;
                display: flex;
            }
        }
    }

    footer {
        position: relative;
        top: 40px;
        height: 55vh;
        width: 100%;
        background: $dark;

        .contact {
            height: auto;
            width: auto;
            padding: 12px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            color: $whitt;

            .leftt {
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                color: $whitt;
            }

            button {
                padding: 10px 15px;
                border-radius: 50px;
                border: none;
                background: $yel;

                a {
                    font-size: 13px;
                    font-weight: bold;
                    color: $dark;
                }
            }
        }

        .footmain {
            background-color: $dark;
            color: $primary;
            width: 100%;
            height: 28vh;

            .inside {
                height: 28dvh;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .name {
                    font-size: 16px;
                    font-weight: bold;
                }

                .add {
                    font-size: 14px;
                }

                .social {
                    ul {
                        li {
                            list-style: none;

                            a {
                                color: $primary;
                            }
                        }
                    }
                }
            }


        }

        .copyright {
            font-size: 14px;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 10vh;
            margin: 5px 0 0 0;
            color: $primary;
            font-weight: bold;
            background-color: $light;
        }
    }
}

@media screen and (min-width:682px) and (max-width:882px) {}



// @media screen and (min-width:768px) {

//     .secondBlock {
//         .inner {
//             height: 85rem;
//             width: 58rem;
//             margin: 25vh 0 0 10px;

//             .project {
//                 height: 25rem;
//                 width: 98vw;
//                 margin: 0;
//                 margin-top: 20px;
//                 overflow: hidden;
//                 display: flex;
//             }
//         }
//     }

//     footer {
//         .contact {
//             .leftt {
//                 margin-right: 20rem;
//             }

//             button {
//                 position: relative;
//                 right: 30px;
//             }
//         }
//     }

// }

// @media screen and (min-width:769px) and (max-width:1023px) {}

// @media screen and (min-width:1024px) and (max-width:1280) {}

// @media screen and (min-width:2500px) {}