@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins";
  scroll-behavior: smooth;
  
}

body{
  position: relative;
}

.inn {
  position: relative;
  top: -14px;
  width: 50px;
  height: 2px;
  background-color: red;
}


#thou{
  background-image: linear-gradient(rgba(0, 0, 0, 0.633), rgba(0, 0, 0, 0.633)),url("https://media.wired.co.uk/photos/606da390d8817d4fe4c508c5/master/w_1600%2Cc_limit/iStock-475673037.jpg");
  background-repeat: no-repeat;
  height: 85vh;
  text-align:center;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}